<main class="main-container">
  <section class="perfil">
    <img
      src="../assets/img/Perfil.jpg"
      alt="Sun Jin-Woo"
      class="perfil__avatar"
    />
    <h1 class="perfil__nombre">Sun Jin-Woo</h1>
    <h3 class="perfil__titulo">Cazador Clase E</h3>
    <h4 class="perfil__subtitulo">El mas débil del mundo</h4>
    <a href="#" class="perfil__boton">Seguir</a>

    <div class="perfil--estadistica">
      <div class="estadistica__elemento">
        <p class="estadistica__elemento--numero">12K</p>
        <p>Seguidores</p>
      </div>
      <div class="estadistica__elemento">
        <p class="estadistica__elemento--numero">1.7K</p>
        <p>Siguiendo</p>
      </div>
      <div class="estadistica__elemento">
        <p class="estadistica__elemento--numero">40</p>
        <p>Artículos</p>
      </div>
    </div>

    <div class="perfil__bio">
      <h2>Acerca de mí</h2>
      <p><span>Asesino a sueldo retirado y amante de los perros</span></p>
    </div>

    <div class="perfil__ubicacion">
      <h2>Estados Unidos</h2>
      <p>227km Cerca</p>
    </div>

    <div class="perfil--galeria">
      <h2>Mis Fotos</h2>
      <div class="galeria__fotos">
        <img
          src="../assets/img/Galeria1.jpg"
          alt=""
          class="galeria__foto galeria__foto--1"
        />
        <img src="../assets/img/Galeria2.jpg" alt="" class="galeria__foto" />
        <img src="../assets/img/Galeria3.jpg" alt="" class="galeria__foto" />
        <img src="../assets/img/Galeria4.jpg" alt="" class="galeria__foto" />
      </div>
    </div>
  </section>

  <section class="articulos">
    <h1>Noticias</h1>
    <article class="articulo">
      <h2>Playstation</h2>
      <h3>GTA VI: Filtraciones que son bastante dudosas</h3>
      <p>
        Recientemente se filtró en Internet una importante cantidad de supuesta
        información sobre Grand Theft Auto VI (GTA VI) que nos ofrece una muy
        buena idea de lo que podemos esperar.
      </p>
    </article>
    <article class="articulo">
      <h2>Switch</h2>
      <h3>
        Secuela de The Legend of Zelda: Breath of the Wild anunciada en el E3
        2019
      </h3>
      <p>
        Nintendo anunció la secuela de The Legend of Zelda: Breath of the Wild
        en el E3 2019 y todos estamos más que emocionados con esto.
      </p>
    </article>
    <article class="articulo">
      <h2>Xbox</h2>
      <h3>Red Dead Online recibe actualización masiva y sale de beta</h3>
      <p>
        Rockstar lanzó el día de hoy la actualización más grande de Red Dead
        Online desde que el componente online de Red Dead Redemption 2 se lanzó
        en noviembre.
      </p>
    </article>
  </section>
</main>
